html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 1.6rem;
  background-color: #effcff;
}

button,
select {
  font: inherit;
}

.page {
  min-height: 100vh;
  background-color: #effcff;
  padding: 3.2rem;
}
