.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #c2d0e8;
  color: black;
  padding: 15px 20px;
}

.header-left {
  justify-self: start;
}

.header-center {
  justify-self: center;
}

.header-right {
  justify-self: end;
}

#refreshBtn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
